.panel-grey {
    border-color: #777;
}

.panel-grey>.panel-heading {
    color: #ffffff;
    background: #777;
    border-color: #777;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #777;
  color: #fff;
}
footer p {
    text-align: center;
    margin-top: 20px;
}